<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17757869024-li0negge96h0j1f2efnuc9qtp3hhclvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17757869024-li0negge96h0j1f2efnuc9qtp3hhclvd</string>
	<key>API_KEY</key>
	<string>AIzaSyBlojQbnCbu4UQgZsp6z970vrKENHpER98</string>
	<key>GCM_SENDER_ID</key>
	<string>17757869024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnDart</string>
	<key>PROJECT_ID</key>
	<string>flutternotes2989</string>
	<key>STORAGE_BUCKET</key>
	<string>flutternotes2989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17757869024:ios:d3a1083c05e59ffbcb1185</string>
</dict>
</plist>